{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            {#            可以更改用户头像的大小#}
            <td><img src="{{ user.avatar(128) }}"></td>
            <td><h1>用户：{{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>最近登录：{{ user.last_seen }}</p>{% endif %}
                {% if user == current_user %}
                    <p><a href="{{ url_for('edit_profile') }}">个人资料编辑</a></p>
                {% endif %}
            </td>
        </tr>
    </table>

    <hr>
    {% for post in posts %}
        {% include '_post.html' %}

    {% endfor %}
{% endblock %}

